{% extends "layout.html" %}

  {% block mainTd %}
    <p class="p1">הקינוחים שלנו</p>
  {% endblock mainTd %}

  {% block content %}
    <marquee direction="right"><h3>להזמנה התקשר עכשיו! 0527343299</h3></marquee>
    <table>
      <tr>
        <td class="dessertsTd">
          <p class="dessertsP">קינוח3</p>
          <img src="static\dessert1.jpg" width="200px" height="200px">
          <p class="dessertsP2">תיאור</p>
          <button class="orderButton">!הזמן עכשיו</button>
        </td>
        <td class="dessertsTd">
          <p class="dessertsP">קינוח2</p>
          <img src="static\dessert1.jpg" width="200px" height="200px">
        <p class="dessertsP2">תיאור</p>
        <button class="orderButton">!הזמן עכשיו</button>
      </td>
      <td class="dessertsTd">
        <p class="dessertsP">קינוח1</p>
        <img src="static\dessert1.jpg" width="200px" height="200px">
        <p class="dessertsP2">תיאור</p>
        <button class="orderButton">!הזמן עכשיו</button>
      </td>
    </tr>
  </table>

{% endblock content %}
